/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: column dense;
  grid-template-areas:
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "."
    "four-imgs"
    ".";
}

.four-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    ". .";
  grid-area: four-imgs;
  border: 1px solid bl;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
