/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
/*** Mobile Menu Button */

#mobile-menu {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  z-index: 1;
  width: var(--mobile-menu-width);
  height: var(--mobile-menu-width);
  cursor: pointer;
}
#mobile-menu span {
  position: absolute;
  width: 80%;
  height: 1px;
  left: 10%;
  top: 50%;
  background-color: var(--purple);
  transition: all 0.3s ease-in-out;
}
#mobile-menu span:first-of-type {
  top: 25%;
}
#mobile-menu span:last-of-type {
  top: 75%;
}
#mobile-menu.open span {
  opacity: 0;
}
#mobile-menu.open span:first-of-type,
#mobile-menu.open span:last-of-type {
  transform: rotate(45deg);
  opacity: 1;
  top: 50%;
}
#mobile-menu.open span:last-of-type {
  transform: rotate(-45deg);
}

/* mobile menu content */
#mobile-menu-content {
  width: 100%;
  height: calc(100vh - var(--header-height));
  background: var(--purple);
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: flex-start;
  transition: top 0.7s ease-in-out;
}
#mobile-menu-content.open {
  top: var(--header-height);
}
#mobile-menu-content > div {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#mobile-menu-content > div > ul {
  width: 100%;
}
#mobile-menu-content ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid var(--purple-light-1);
}
#mobile-menu-content ul li:last-of-type {
  border-bottom: 1px solid var(--purple-light-1);
}
#mobile-menu-content ul li a {
  padding: 2rem;
  text-decoration: none;
  color: var(--purple-dark-2);
  display: block;
}

body {
}

/******************************************
/* LAYOUT
/*******************************************/
.container {
  border: solid 1px blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: column dense;
  grid-template-areas:
    "homePage"
    "eggArea"
    "aboutUsInfo"
    "cupImage"
    "standOutInfo"
    "graphicDesign"
    "orangeImage"
    "testimonialOne"
    "testimonialTwo"
    "testimonialThree"
    "fourImgs"
    "footer";
}

.homePage {
  border: solid 1px red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "homeContent";
  grid-area: homePage;
}

.header {
  border: solid 1px orange;
  grid-area: header;
}

.homeContent {
  border: solid 1px yellow;
  grid-area: homeContent;
}

.eggArea {
  border: solid 1px purple;
  grid-area: eggArea;
}

.aboutUsInfo {
  border: solid 1px green;
  grid-area: aboutUsInfo;
}

.cupImage {
  border: solid 1px pink;
  grid-area: cupImage;
}

.standOutInfo {
  border: solid 1px black;
  grid-area: standOutInfo;
}

.graphicDesign {
  border: solid 1px brown;
  grid-area: graphicDesign;
}

.orangeImage {
  border: solid 1px gray;
  grid-area: orangeImage;
}

.testimonialOne {
  border: solid 1px fuchsia;
  grid-area: testimonialOne;
}

.testimonialThree {
  border: solid 1px lightblue;
  grid-area: testimonialThree;
}

.testimonialTwo {
  border: solid 1px silver;
  grid-area: testimonialTwo;
}

.fourImgs {
  border: solid 1px maroon;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "imgOne imgThree"
    "imgTwo imgFour";
  grid-area: fourImgs;
}

.imgOne {
  border: solid 1px yellowgreen;
}
.imgTwo {
  border: solid 1px rgb(228, 122, 199);
}
.imgThree {
  border: solid 1px rgb(158, 207, 232);
}
.imgFour {
  border: solid 1px rgb(205, 122, 50);
}

/* Fix the footer 


.footer {
  border: solid 1px blue;
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". logoName ."
    "about services projects"
    ". logo .";
  grid-area: footer;
}
.logoName {
  grid-area: logoName;
}
.about {
  grid-area: about;
}
.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-area: services;
}
.projects {
  grid-area: projects;
}
.logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "fbIcon igIcon twitterIcon pinterest";
  grid-area: logo;
}

.fbIcon {
  border: solid 1px silver;
  grid-area: fbIcon;
}
.igIcon {
  border: solid 1px red;
  grid-area: fbIcon;
}
.twitterIcon {
  border: solid 1px midnightblue;
  grid-area: twitterIcon;
}
.pinterest {
  border: solid 1px plum;
  grid-area: pinterest;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
